header {
padding: 50px;
    background-color: lightgrey;
    text-align: center;
}
.wrapper{
    padding: 25px;
}
pre {
  font-weight: bold;
}

.logo {
width: 300;
height:auto;
}

li {
  padding: 2px;
  list-style-type: none;
}
a{
  text-decoration: none;
 
}